.bg-img-animate {
  height: 100vh;
  /*vh代表的是view height，也就是螢幕可視範圍高度的百分比*/
  background-size: cover;
  /*完整覆蓋瀏覽器的背景圖片*/
  background-image: url(../img/back.png);
  background-repeat: round;
  transform: scale(1);
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.fe-img {
  width: 584px;
  height: 584px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform: scale(1);
  margin: 0 auto;
  animation-name: slide-in-fe;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.scroll_down {
  width: 94;
  height: 60;
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  /* img content shadow */
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.7));
  margin: 0 auto;
  opacity: 0;
  animation: 1s fade-in-scroll 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

main {
  position: absolute;
  top: 10%;
  margin: 0 auto;
  width: 80%;
  animation-delay: 3s;
  animation: fade-in-main 1s;
  animation-timing-function: ease-in-out;
}

#headline {
  margin: 0 auto;
  color: $primary-color;
  text-shadow: $text-shadow;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-align: left;
  position: absolute;
  top: 20vh;
  left: 15vw;
}